<!--313419681 Tomer Sulimany-->
<!--205388432 Yuval Goldberg-->
<!--203486188 Elad Cohen-->
<!--203768460 Elad Mintzer-->
<!doctype html>
<html>
<head>
    <title>Browser Page title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/IntroCanvas.js"></script>
    @{
        ViewBag.RSS = ShauliBlog.Controllers.BlogController.GetRSS();
    }
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Fan Club", "Index", "Fan")</li>
                    
                    @if ((Session["admin"] != null) && (Session["admin"].Equals(true)))
                    {
                    <li>@Html.ActionLink("Manage posts", "Index", "Posts")</li>
                    }
                    <li class="subscribe"><a href="#" class="rss">Subscribe via. RSS</a></li>
                    @if ((Session["logged_in"] != null) && (Session["logged_in"].Equals(true)))
                    {
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                    <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }

                </ul>
            </div>
        </div>
    </nav>
 
    <canvas id="intro-canvas" width="1000" height="250"></canvas>

        <div class="container body-content">
            <div id="mainContent">
                @RenderBody()
            </div>

            <aside>
                <div id="grad2" style="direction:rtl;">
                    <section>
                        <header>
                            <h3>@ViewBag.RSS.Title.Text</h3>
                            <h4>מסעדות לפרלמנט</h4>
                        </header>
                        <ul>
                            @for (int i = 0; i  < 3; i++)
                            {
                                <li>
                                    <a href="@ViewBag.RSS.Items[i].Links[0].Uri.AbsoluteUri">
                                        @ViewBag.RSS.Items[i].Title.Text
                                        <br />
                                        <br />
                                        @Html.Raw(ViewBag.RSS.Items[i].Summary.Text)
                                    </a>
                                </li>
                            }
                        </ul>
                    </section>
                </div>
            </aside>

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        
        <footer>
            <!-- Footer -->
            <div>
                <section id="about">
                    <header>
                        <h3>About</h3>
                    </header>
                    <p>This is the blog of shauli, in this blog you can ask any question you want and shauli will answer it.</p>
                </section>
                <section id="blogroll">
                    <header>
                        <h3>Blogroll</h3>
                    </header>
                    <ul>
                        <li><a href="#">NETTUTS+</a></li>
                        <li><a href="#">FreelanceSwitch</a></li>
                    </ul>
                </section>
                <section id="popular">
                    <header>
                        <h3>Popular</h3>
                    </header>
                    <ul>
                        <li><a href="#">This is the title of a blog post</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                    </ul>
                </section>
            </div>
        </footer>

</body>    
</html>

