<!--313419681 Tomer Sulimany-->
<!--205388432 Yuval Goldberg-->
<!doctype html>
<html>
<head>
    <title>Browser Page title</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1 class="title">Ha-Blog Shel Shauli</h1>
    </header>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Home", "Index", "First")</li>
                    <li>@Html.ActionLink("Fan Club", "Index", "Fan")</li>
                    <li>@Html.ActionLink("Details", "Details", "First")</li>
                    <li class="subscribe"><a href="#" class="rss">Subscribe via. RSS</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <section id="intro">
            <!-- Introduction -->
            <header>
                <h2>Do you have questions for me?</h2>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
            </p>
            <img src="~/Content/Images/intro_shauli.png" alt="Shauli" />
        </section>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>


        <footer>
            <!-- Footer -->
            <div>
                <section id="about">
                    <header>
                        <h3>About</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
                </section>
                <section id="blogroll">
                    <header>
                        <h3>Blogroll</h3>
                    </header>
                    <ul>
                        <li><a href="#">NETTUTS+</a></li>
                        <li><a href="#">FreelanceSwitch</a></li>
                    </ul>
                </section>
                <section id="popular">
                    <header>
                        <h3>Popular</h3>
                    </header>
                    <ul>
                        <li><a href="#">This is the title of a blog post</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                    </ul>
                </section>
            </div>
        </footer>
</body>    
</html>

