

@{
    ViewBag.Title = "Login";
}

<div class="well bs-component" style="display:inline-block; width:60%; margin-top:10%; float:inherit; margin-left:20%;">
    @{
        if (ViewBag.HadNoPermission)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Wow!</strong> You have tried to access restricted page without loging in, Please Login.
            </div>
        }
        else if (ViewBag.WrongDetails)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Username or password are incorrect.
            </div>
        }
    }
    <h2 style="text-align:center;">Login</h2>
    <hr />
    @using (Html.BeginForm("Login", "Login"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Username", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-md-10" style="margin-bottom: 15px;">
                @Html.Editor("username", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

                    <div class="form-group">
                        @Html.Label("Password", htmlAttributes: new { @class = "col-lg-2 control-label" })
                        <div class="col-md-10" style="margin-bottom: 15px;">
                            @Html.Editor("password", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2" style="margin-left:43%;">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>

    }
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

