@model IEnumerable<ShauliBlog.Models.Post>

<script src="~/Scripts/FanAutoComplete.js"></script>

@{
    ViewBag.Title = "Blog";
}

<form action="/Blog/SearchPost" method="post">
    <span>Date:</span> 
    <input type="date" name="PublishDate" id="PublishDate" size="15">
    <br />
    <span>Title:</span> 
    <input type="text" name="Title" id="Title" size="25" autocomplete="off">
    <br />
    <span>Author:</span>
    <input type="text" value="" name="Author" id="Author" size="10" autocomplete="off">
    <div id="author-suggesstion-box"></div>
    <br />
    <input type="submit" value="Search Post">
</form>

<h4>
    @ViewBag.Context
</h4>

@if ((Session["logged_in"] != null) && (Session["logged_in"].Equals(true)))
{
    <p>
        @Html.ActionLink("Create New Post", "Create", "Posts")
    </p>
}

@if (ViewBag.Posts.Count == 0)
{
    <hr />
    <p>
        <h3>No posts yet.</h3>
    </p>
    <hr />
}
else
{
    foreach (var item in ViewBag.Posts)
    {
        var post = (ShauliBlog.Models.Post)item.post;
        <hr />
        <p class="post-container">
            @Html.Partial("Post", post)
            @Html.Partial("CommentList", post.Comments)
            @Html.Partial("CommentAdd", new ShauliBlog.Models.Comment { PostID = post.ID })
        </p>
    }

    <form action="/Blog/CountPostByWriter" method="post">
        <input type="submit" value="Show Statistics">
    </form>
   <!-- <form action="/Blog/RecommendPost" id="recommend" method="post">
        <input type="hidden" name="first_name" id="first_name">
        <input type="hidden" name="last_name" id="last_name">
        <input type="submit" value="Recommend Posts For Me" onclick="UpdateName()">
    </form> 

    <script>
    function UpdateName() {
        // Retrieve
        console.log("Retrive data");
        console.log(localStorage.getItem("fb_first_name"));
        document.getElementById("first_name").value = localStorage.getItem("fb_first_name");
        document.getElementById("last_name").value = localStorage.getItem("fb_last_name");
    }
    </script>-->
}

<script>
    $(document).ready(function () {
        // document click-to-close
        $(document).on("click", function () {
            closeAllWindows();
        });

        // click on window / children elements
        $(".comments-list , .add-comment").on("click", function (e) {
            e.stopPropagation();	// prevent document click-to-close
        });

        // show comments button
        $(".show-comments-btn").on("click", function (e) {
            closeAllWindows();
            $(this).parent("section").find(".comments-list").show();
            e.stopPropagation();	// prevent document click-to-close
        });

        // add comment button
        $(".add-comment-btn").on("click", function (e) {
            closeAllWindows();
            $(this).parent("form").find(".add-comment").show();
            e.stopPropagation();	// prevent document click-to-close
        });
    });

    function closeAllWindows() {
        $(".comments-list:visible , .add-comment:visible").hide();
    }
</script>
