@model IEnumerable<SauliBlog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "Create")

@foreach (var item in Model)
{
    <section>
        <article class="blogPost">
            <header>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>
                    Posted on <time datetime="2009-06-29T23:31+01:00">@Html.DisplayFor(modelItem => item.PublishDate)</time> by <a href="#">@Html.DisplayFor(modelItem => item.Author)</a> - <a href="#comments">3 comments</a>
                </p>
            </header>
            <div>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <img src="~/Content/Images/flower.png" alt="Flower" /> <!--Html.DisplayNameFor(model => model.Image)-->
                <video controls="controls">
                    <source src="images/shauli.m4v" type="video/mp4"/>
                    <!--Html.DisplayNameFor(model => model.Video)-->
                </video>
            </div>
        </article>
    </section>

    <p>
        @Html.Partial("CommentsList", item.Comments)
    </p>

    <p>
        @Html.Partial("CommentAdd", new SauliBlog.Models.Comment { PostID = item.ID })
    </p>

}
