@model IEnumerable<ShauliBlog.Models.Post>

<script src="~/Scripts/FanAutoComplete.js"></script>
@{
    ViewBag.Title = "SimpleStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="~/css/BlogCSS.css" type="text/css" media="screen" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <header>
        <h3> Simple Statistics </h3>
    </header>
    <div id="content">
        <div id="mainContent">
            <section>
                <article>
                    <table class="table">
                        <tr>
                            <th>
                                Writer Name
                            </th>
                            <th>
                                Number of Posts
                            </th>
                        </tr>

                        @foreach (var stat in ViewBag.CountPostByWriter)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(stat.Name)
                                </td>
                                <td>
                                    @Html.Raw(stat.Count)
                                </td>
                            </tr>
                        }

                    </table>
                </article>
            </section>
        </div>
    </div>

    <header>
        <h3> statistics by writer </h3>
    </header>
    <div id="pie">
    <script src="d3.v2.min.js"></script>
    <script>
        (function (d3) {
            'use strict';
            var data = [];
            var array = @Html.Raw(Json.Encode(@ViewBag.CountPostByWriter));
            for (var i = 0; i < array.length; i++) {
                data.push({ label: array[i].Name, count: array[i].Count });
            }

            var width = 360;
            var height = 360;
            var radius = Math.min(width, height) / 2;
            var color = d3.scaleOrdinal(d3.schemeCategory10);
            var pie = d3.pie()
                .value(function (d) { return d.count; })(data);
            var arc = d3.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var labelArc = d3.arc()
                .outerRadius(radius - 80)
                .innerRadius(radius - 80);
            var svg = d3.select("#pie")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
            var g = svg.selectAll("arc")
                .data(pie)
                .enter().append("g")
                .attr("class", "arc");
            g.append("path")
                .attr("d", arc)
                .style("fill", function (d) { return color(d.data.label); });
            g.append("text")
                .attr("transform", function (d) { return "translate(" + labelArc.centroid(d) + ")"; })
                .text(function (d) { return d.data.label; })
                .style("fill", "#000");
        })(window.d3);
    </script>
    </div>
    <br />
    <header>
        <h3> Post statistics by Gender </h3>
    </header>
    <br />
    <div id="pie3">
        <br />

        <script>
        (function (d3) {
            'use strict';
            var data = [];
            var array = @Html.Raw(Json.Encode(@ViewBag.CountPostByGender));
            for (var i = 0; i < array.length; i++) {
                //data.push({ label: ShauliBlog.Models(array[i].Gender).toString(), count: array[i].Count }); 
                data.push({ label: array[i].Gender ? "male" : "female", count: array[i].Count }); 
            }

            var width = 360;
            var height = 360;
            var radius = Math.min(width, height) / 2;
            var color = d3.scaleOrdinal(d3.schemeCategory10);
            var pie = d3.pie()
                .value(function (d) { return d.count; })(data);
            var arc = d3.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var labelArc = d3.arc()
                .outerRadius(radius - 80)
                .innerRadius(radius - 80);
            var svg = d3.select("#pie")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
            var g = svg.selectAll("arc")
                .data(pie)
                .enter().append("g")
                .attr("class", "arc");
            g.append("path")
                .attr("d", arc)
                .style("fill", function (d) { return color(d.data.label); });
            g.append("text")
                .attr("transform", function (d) { return "translate(" + labelArc.centroid(d) + ")"; })
                .text(function (d) { return d.data.label; })
                .style("fill", "#000");
        })(window.d3);
        </script>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>